body {
            background-color: #333; 
            margin: 0;
            font-family: sans-serif;
            color: white; 
        }
 
        header {
            background-color: #4D5870;
            border: 4px solid #c49a6c;
            border-radius: 30px;
            padding: 30px;
            margin: 30px auto;
            max-width: 1000px;
        }
 
        /* --- HAUT DU HEADER --- */
        header > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }
 
        /* Groupe Titre + Sous-titre */
        header > div > div {
            display: flex;
            flex-direction: column;
        }
 
        header > div > div > h1 {
            margin: 0;
            font-size: 4.5em;
            font-weight: normal;
            letter-spacing: 2px;
            line-height: 1;
        }
 
        header > div > div > p {
            margin: 10px 0 0 5px;
            font-size: 1.1em;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #ddd;
        }
 
        /* Image */
        header > div > figure {
            margin: 0;
        }
 
        header > div > figure > img {
            border-radius: 33px;
            display: block;
            width: 250px; 
            height: 200px;
            object-fit: cover;
            background-color: #000; 
        }
 
        /* --- NAVIGATION --- */
        header > nav {
            width: 100%;
        }
 
        header > nav > ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            border: 1px solid rgba(255, 255, 255, 0.6);
        }
 
        header > nav > ul > li {
            flex: 1;
            border-right: 1px solid rgba(255, 255, 255, 0.6);
        }
 
        header > nav > ul > li:last-child {
            border-right: none;
        }
 
        header > nav > ul > li > a {
            display: block;
            text-align: center;
            padding: 15px 0;
            text-decoration: none;
            color: white;
            font-family: serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: background-color 0.3s;
        }
 
        header > nav > ul > li > a:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
footer {
    background-color: #4D5870;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1000px;

}

body>footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>footer>div>div {
    border: 4px solid #c49a6c;
    border-radius: 33px;
    width: 450px;
    height: 140px;
    align-items: center;
}

body>footer>div>div>p {
    padding-left: 10px;
}

body>footer>div>div>div {
    padding-left: 50px;
    display: flex;
    align-items: end;
}

body>footer>div>div>div>img {
    width: 70px;
    height: 80px;
}

body>footer>div>div>div>img:nth-child(2) {
    width: 70px;
    height: 68px;
    padding-bottom: 8px;
}

body>footer>div>div>div>img:nth-child(3) {
    width: 70px;
    height: 66px;
    padding-bottom: 8px;
}

body>footer>div>figure>img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

body>footer>div>figure>img:last-child {
    width: 250px;
    height: 100px;
}

body > footer > summary
{
    padding:5px,0,0,50px;
}