/* --header --*/
header {
    background-color: #4D5870;
    border: 4px solid #c49a6c;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1500px;
}

/* --- HAUT DU HEADER --- */
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Groupe Titre + Sous-titre */
header > div > div {
    display: flex;
    flex-direction: column;
}

header > div > div > h1 {
    margin: 0;
    font-size: 4.5em;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1;
}

header > div > div > p {
    margin: 10px 0 0 5px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ddd;
}

/* Image */
header > div > figure {
    margin: 0;
}

header > div > figure > img {
    border-radius: 33px;
    display: block;
    width: 250px; 
    height: 200px;
    object-fit: cover;
    background-color: #000; 
}

/* --- NAVIGATION --- */
header > nav {
    width: 100%;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

header > nav > ul > li {
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

header > nav > ul > li:last-child {
    border-right: none;
}

header > nav > ul > li > a {
    display: block;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    color: white;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

header > nav > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* ---- footer --*/

footer {
    background-color: #4D5870;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1500px;

}

footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer>div>div {
    border: 4px solid #c49a6c;
    border-radius: 33px;
    width: 450px;
    height: 140px;
    align-items: center;
}

footer>div>div>p {
    padding-left: 10px;
}

footer>div>div>div {
    padding-left: 50px;
    display: flex;
    align-items: end;
}

footer>div>div>div>img {
    width: 70px;
    height: 80px;
}

footer>div>div>div>img:nth-child(2) {
    width: 70px;
    height: 68px;
    padding-bottom: 8px;
}

footer>div>div>div>img:nth-child(3) {
    width: 70px;
    height: 66px;
    padding-bottom: 8px;
}

footer>div>figure>img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

footer>div>figure>img:last-child {
    width: 250px;
    height: 100px;
}

footer > summary
{
    padding:5px,0,0,50px;
}



/* ----  body ---- */

body {
    background-color: #333; 
    margin: 0;
    font-family: sans-serif;
    color: white; 
}

/* ----  oeuvre ---- *//* ----  oeuvre ---- *//* ----  oeuvre ---- *//* ----  oeuvre ---- */
/* ----  oeuvre ---- *//* ----  oeuvre ---- *//* ----  oeuvre ---- *//* ----  oeuvre ---- */
/* ----  oeuvre ---- *//* ----  oeuvre ---- *//* ----  oeuvre ---- *//* ----  oeuvre ---- */




/* Ajout pour le défilement fluide */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

header {
    background-color: #4D5870;
    border: 4px solid #c49a6c;
    border-radius: 30px 30px 0 0;
    padding: 30px;
    margin: 30px auto 0 auto;
    max-width: 1000px;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header > div > div {
    display: flex;
    flex-direction: column;
}

header > div > div > h1 {
    margin: 0;
    font-size: 4.5em;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1;
}

header > div > div > p {
    margin: 10px 0 0 5px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ddd;
}

header > div > figure {
    margin: 0;
}

header > div > figure > img {
    border-radius: 33px;
    display: block;
    width: 250px;
    height: 200px;
    object-fit: cover;
    background-color: #000;
}

header > nav {
    width: 100%;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

header > nav > ul > li {
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

header > nav > ul > li:last-child {
    border-right: none;
}

header > nav > ul > li > a {
    display: block;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    color: white;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

header > nav > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    background-color: white;
    color: #000;
    padding: 30px;
    margin: 0 auto;
    max-width: 1000px;
    border: 4px solid #c49a6c;
    border-top: none;
    border-bottom: none;
}

body > main > section {
    position: relative;
}

body > main > section > ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 2em;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-left: 3px solid #c49a6c;
}

body > main > section > ul > li,
body > main > section > ul > li > ul > li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

body > main > section > ul > li > img,
body > main > section > ul > li > ul > li img {
    height: 25px;
    width: 30px;
    margin: 15px 30px;
}

body > main > section > ul > li > ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 0.5em;
    width: 100%;
    flex-basis: 100%;
    margin: 1em 2em;
}

body > main > section > ul > li > ul > li {
    margin: 7px 0;
}

body > main > section > nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    pointer-events: none;
}

body > main > section > nav > a {
    display: block;
    position: sticky;
    top: 150px;
    width: 50px;
    height: 50px;
    pointer-events: auto;
    transition: transform 0.3s ease-out;
}

body > main > section > nav > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body > main > section > nav > a:hover {
    transform: scale(1.2); 
}


footer {
    background-color: #4D5870;
    border: 4px solid #c49a6c;
    border-radius: 0 0 30px 30px;
    padding: 30px;
    margin: 0 auto 30px auto;
    max-width: 1000px;
}

body > footer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > footer > div > div {
    border: 4px solid #c49a6c;
    border-radius: 33px;
    width: 450px;
    height: 140px;
    align-items: center;
}

body > footer > div > div > p {
    padding-left: 10px;
}

body > footer > div > div > div {
    padding-left: 90px;
    display: flex;
    align-items: end;
    gap: 8px;
}

body > footer > div > div > div > img {
    width: 60px;
    height: 60px;
}

body > footer > div > figure > img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

body > footer > div > figure > img:last-child {
    width: 250px;
    height: 100px;
}

body > footer > details > summary {
    padding-top: 7px;
}

body > footer > details > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > footer > details > div > img {
    height: 30px;
    width: 30px;
}

.oeuvreAmazone.oeuvreAmazone:visited,
.oeuvreAmazone.oeuvreAmazone:active,
.oeuvreAmazone.oeuvreAmazone:link {
    color: black;
    text-decoration: none;
}

.oeuvreAmazone.oeuvreAmazone:hover {
    text-decoration: #000;
    background-color: #4D5870;
    border-radius: 0 100px 100px 0;
    width: 270px;
    color: white;
}


/* ----  capitale ---- *//* ----  capitale ---- *//* ----  capitale ---- *//* ----  capitale ---- */
/* ----  capitale ---- *//* ----  capitale ---- *//* ----  capitale ---- *//* ----  capitale ---- */
/* ----  capitale ---- *//* ----  capitale ---- *//* ----  capitale ---- *//* ----  capitale ---- */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

header {
    background-color: #4D5870;
    border: 4px solid #c49a6c;
    border-radius: 30px 30px 0 0;
    padding: 30px;
    margin: 30px auto 0 auto;
    max-width: 1000px;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header>div>div {
    display: flex;
    flex-direction: column;
}

header>div>div>h1 {
    margin: 0;
    font-size: 4.5em;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1;
}

header>div>div>p {
    margin: 10px 0 0 5px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ddd;
}

header>div>figure {
    margin: 0;
}

header>div>figure>img {
    border-radius: 33px;
    display: block;
    width: 250px;
    height: 200px;
    object-fit: cover;
    background-color: #000;
}

header>nav {
    width: 100%;
}

header>nav>ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

header>nav>ul>li {
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

header>nav>ul>li:last-child {
    border-right: none;
}

header>nav>ul>li>a {
    display: block;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    color: white;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

header>nav>ul>li>a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    background-color: white;
    color: #000;
    padding: 30px;
    margin: 0 auto;
    max-width: 1000px;
    border: 4px solid #c49a6c;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>h1{
    border-bottom: 3px solid #c49a6c;
    border-top: 3px solid #c49a6c;
    padding: 15px;
    font-size: 3em;
    margin-bottom: 40px;
}

main>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    
main>section>h2 {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 3px solid #c49a6c;
    padding-bottom: 10px;
    width: fit-content;
    margin-top: 30px;
}

main>section>article {
    width: 80%;
    max-width: 800px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.6;
}

main > section > article:first-of-type {
    border-bottom: none; 
}

main > section > article:first-of-type::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: #4D5870;

}

main>section>article>p>span {
    border-bottom:2px solid #c49a6c ;
}

footer {
    background-color: #4D5870;
    border: 4px solid #c49a6c;
    border-radius: 0 0 30px 30px;
    padding: 30px;
    margin: 0 auto 30px auto;
    max-width: 1000px;
}

body>footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>footer>div>div {
    border: 4px solid #c49a6c;
    border-radius: 33px;
    width: 450px;
    height: 140px;
    align-items: center;
}

body>footer>div>div>p {
    padding-left: 10px;
}

body>footer>div>div>div {
    padding-left: 90px;
    display: flex;
    align-items: end;
    gap: 8px;
}

body>footer>div>div>div>img {
    width: 60px;
    height: 60px;
}

body>footer>div>figure>img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

body>footer>div>figure>img:last-child {
    width: 250px;
    height: 100px;
}

body>footer>details>summary {
    padding-top: 7px;
}

body>footer>details>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body>footer>details>div>img {
    height: 30px;
    width: 30px;
}

.oeuvreAmazone.oeuvreAmazone:visited,
.oeuvreAmazone.oeuvreAmazone:active,
.oeuvreAmazone.oeuvreAmazone:link {
    color: black;
    text-decoration: none;
}

.oeuvreAmazone.oeuvreAmazone:hover {
    text-decoration: #000;
    background-color: #4D5870;
    border-radius: 0 100px 100px 0;
    width: 270px;
    color: white;
}

/* ----  guilhem ---- *//* ----  guilhem ---- *//* ----  guilhem ---- *//* ----  guilhem ---- */
/* ----  guilhem ---- *//* ----  guilhem ---- *//* ----  guilhem ---- *//* ----  guilhem ---- */
/* ----  guilhem ---- *//* ----  guilhem ---- *//* ----  guilhem ---- *//* ----  guilhem ---- */

html {
    scroll-behavior: smooth;
}


body {
            background-color: #4D5870;
            color: white;
            border: 4px solid #c49a6c;
            border-radius: 30px;
            padding: 30px;
            margin: 30px auto;
            max-width: 1000px;; 
        }
/* --- HEADER --- */
header {
    background-color: #4D5870;
    border: 4px solid #c49a6c;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1000px;
}

/* --- HAUT DU HEADER --- */
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Groupe Titre + Sous-titre */
header > div > div {
    display: flex;
    flex-direction: column;
}

header > div > div > h1 {
    margin: 0;
    font-size: 4.5em;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1;
}

header > div > div > p {
    margin: 10px 0 0 5px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ddd;
}

/* Image */
header > div > figure {
    margin: 0;
}

header > div > figure > img {
    border-radius: 33px;
    display: block;
    width: 250px; 
    height: 200px;
    object-fit: cover;
    background-color: #000; 
}

/* --- NAVIGATION --- */
header > nav {
    width: 100%;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

header > nav > ul > li {
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}

header > nav > ul > li:last-child {
    border-right: none;
}

header > nav > ul > li > a {
    display: block;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    color: white;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

header > nav > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* --- FOOTER --- */
footer {
    background-color: #4D5870;
    border: 4px solid #c49a6c;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1000px;

}

body>footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>footer>div>div {
    border: 4px solid #c49a6c;
    border-radius: 33px;
    width: 450px;
    height: 140px;
    align-items: center;
}

body>footer>div>div>p {
    padding-left: 10px;
}

body>footer>div>div>div {
    padding-left: 90px;
    display: flex;
    align-items: end;
    gap: 8px;
}

body>footer>div>div>div>img {
    width: 60px;
    height: 60px;
}

body>footer>div>figure>img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

body>footer>div>figure>img:last-child {
    width: 250px;
    height: 100px;
}

body > footer > details > summary
{
    padding-top: 7px;
}

body > footer > details > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > footer > details > div > img
{
    height: 30px;
    width: 30px;
}

/* --- MENU HAMBURGER --- */
/* Masquer la checkbox */
#menu-toggle {
    display: none;
}

/* Bouton hamburger fixe */
.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #c49a6c;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.menu-btn:hover {
    background-color: #d4aa7c;
    transform: scale(1.05);
}

/* Les trois traits du hamburger */
.menu-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Animation du bouton quand le menu est ouvert */
#menu-toggle:checked + .menu-btn span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

#menu-toggle:checked + .menu-btn span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-btn span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

/* Menu déroulant */
.menu-hamburger {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: #4D5870;
    border-left: 4px solid #c49a6c;
    z-index: 1000;
    transition: right 0.3s ease;
    padding-top: 80px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
}

/* Afficher le menu quand la checkbox est cochée */
#menu-toggle:checked ~ .menu-hamburger {
    right: 0;
}

/* Style de la liste du menu */
.menu-hamburger ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-hamburger ul li {
    border-bottom: 1px solid rgba(196, 154, 108, 0.3);
}

.menu-hamburger ul li a {
    display: block;
    padding: 20px 30px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.menu-hamburger ul li a:hover {
    background-color: rgba(196, 154, 108, 0.2);
    padding-left: 40px;
}

/* Fermer le menu quand on clique sur un lien */
.menu-hamburger ul li a:active {
    background-color: rgba(196, 154, 108, 0.4);
}

/* --- MAIN --- */
main {
    position: relative;
}

/* Navigation pointeur haut de page */
body > main > nav.pointeurHautPage {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    pointer-events: none;
}

body > main > nav.pointeurHautPage > a {
    display: block;
    position: sticky;
    top: 150px;
    width: 50px;
    height: 50px;
    pointer-events: auto;
    transition: transform 0.3s ease-out;
}

body > main > nav.pointeurHautPage > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body > main > nav.pointeurHautPage > a:hover {
    transform: scale(1.2); 
}