body {
    background-color: #333;
    border: 4px solid #c49a6c;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

footer {
    background-color: #4D5870;
    border-radius: 30px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1000px;
}

body>footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>footer>div>div {
    border: 4px solid #c49a6c;
    border-radius: 33px;
    width: 450px;
    height: 140px;
    align-items: center;
}

body>footer>div>div>p {
    padding-left: 10px;
}

body>footer>div>div>div {
    padding-left: 90px;
    display: flex;
    align-items: end;
    gap: 8px;
}

body>footer>div>div>div>img {
    width: 60px;
    height: 60px;
}

body>footer>div>figure>img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

body>footer>div>figure>img:last-child {
    width: 250px;
    height: 100px;
}

body > footer > details > summary {
    padding-top: 7px;
}

body > footer > details > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > footer > details > div > img {
    height: 30px;
    width: 30px;
}
